@import '../../styles/variables';

.purchase_item{
  border: 1px solid $gray;
  border-radius: 4px;
  box-shadow: 0 15px 15px -10px #eff0f2;
  display: flex;
  margin-bottom: 35px;
  //height: 230px;
  &-eis{
    color: $blue;
    padding-top: 20px;
  }
  &-text{
    line-height: 18px;
  }
  &-uppercase{
    text-transform: uppercase;
    color: $blue;
  }

  &-left{
    flex: 1;

    &_container{
      padding: 20px 10px 0px 15px;
    }
    &-item{
      padding-bottom: 20px;
    }
  }

  &-about{
    border-left: 1px solid $gray;
    &-container{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px 15px 20px 10px;

    }
    &-price{
      flex: 1;

    }
    &-date{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_container{
        display: flex;
        padding-bottom: 20px;
      }
    }

  }


  &-title{
    color: $graytext;
    font-size: 12px;
    padding-bottom: 6px;
  }
  &-form-container{
    padding-right: 15px;

  }

}


