@import '../../styles/variables';

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {

  &-logon{
    position: absolute;
    transform: translate(-50%, -50%);
    right: 40px;
    top: 50%;
  }
  &-reg{
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0px;
    top: 50%;
  }

  &-logo{
    position: relative;
    left: -10px;
    top: -10px;
    width: 280px;
    height: 180px;
  }
  &-wrapper {

  }

  &-top {
    border-bottom: 1px solid #e3eafd;

    &-wrapper {
      padding: 10px 0;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;

    }
    &-btn{
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }

  &-middle {
    border-bottom: 1px solid #e3eafd;
    h1{
      color: $blue;
      font-size: 24px;
      padding-left: 40px;

    }
    &-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &-bottom {
    border-bottom: 1px solid #e3eafd;
    &-wrapper {
      padding: 20px 0;
      display: flex;
    }
    &-nav{
      margin-right: 14px;
      position: relative;
      color: $black;

      &:hover{
        color: $blue;
        cursor: pointer;

        &::after{
          content: '';
          width: 100%;
          border-bottom: 2.5px solid $blue;
          position: absolute;
          bottom: -20px;
          left: 0;
        }
      }
    }
  }
}